*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popins, sans-serif ;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .resume-left{
    position: relative;
    background: whitesmoke;
    padding: 40px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBx{
  position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover;
}

.profileText h2{
    color: #25baff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
   
}
.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
    color: black;
}
.contactInfo{
    padding-top: 10px;
    margin-bottom: 50px;
}

.contactInfo.information h2{
    color: black;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 1px #e1e1e1;
    
}
.title{
    color: rgb(23, 154, 236);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul{
    position: relative;
   
    
}
.contactInfo.languages .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background:gray;
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
}
.contactInfo.languages .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: black;
}




.container .resume-right{
    position: relative;
    background: rgb(241, 239, 239);
    padding: 40px;
}

.contactInfo .contactInfo.education{
    padding-top: 10px;
    margin-bottom: 50px;
}

.contactInfo ul{
    position: relative;
   
    
}
.contactInfo.education .percent{
    position: relative;
    width: 80%;
    height: 4px;
    background:gray;
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
}
.contactInfo.education .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:#25baff;
}

.contactInfo.education li{
    padding-top: 5px;
    margin-bottom: 20px;
}
.contactInfo.education ul{
    position: relative;
}
.contactInfo.education h5{
    padding-top: 5px;
    margin-bottom: 20px; 
}

.contactInfo.education h3{
    padding-top: 5px;
    margin-bottom: 20px;   
}

.about2 .box{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.about2 .box .text2{
   
    flex-direction: row;
    margin-left: 90px;
}
.about2 .box .text2 h3{
    color: #25baff;
}
.about2 .box h3{
    color: #25baff;
}
.text3 h2 {
    color: #25baff;
    padding: 40px;
    margin-left: -50px;
}
.text3 .percent{
    position: relative;
    width: 80%;
    height: 4px;
    background:gray;
    display: block;
    margin-bottom: 20px;
    margin-top: 5px;
}
.text3 .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:#25baff;
}